# Test coverage
.coverage
coverage.xml
results.xml
htmlcov/
**/.pytest_cache/
venv/
**/__pycache__/
**/*.log
.idea/
docs/_build/
docs/_static/
docs/_template/
cst.code-workspace
data_store/
run/python/test_scalabilty/
.vscode/
scripts/stack/init-db.sql
scripts/stack/init-mongo.js
poetry.lock
uv.lock
